.dashboard {
  display: flex;
  height: 100vh;
  overflow: auto;
}

.igvBrowser {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    background-color: white;
    padding: 15px;
    border-radius: 35px;
    box-shadow: 0 4px 30px black;
    width: 750px;
}

.browserTitle {
    color: white;
    font-family: 'Ubuntu', sans-serif;
    padding: 15px;
}

.contentWrapper {
  flex-grow: 1;
  height: 100%;
  margin: 40px;
  box-sizing: border-box;
}